.nav{
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
    font-size: 13px;
    margin-bottom: 0px;
}

.menu li{
float: left;
}

.menu a:hover{
background-color: transparent;
color: var(--green-light)
}

.hamb{
display: none;
}