@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root
{
    --white: #f9f9f9;
    --green: #229395;
    --green-light: #7acbcd;
    --black: #36383F;
    --grey: #85888C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

main{
    padding: 20px;
    background-color: var(--green);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}